<div class="item">
  <div class="well">
    <div class="card card-block">
      <h6 class="card-title"><%= question.title %></h6>

      <div id="answer">
        <small>Answer</small>
        <% question.answers.each do |answer| %>
        <% end %>
      </div>

      <% if question.qtype == "short_answer" %>
        <%= text_field_tag "answers[#{question.id}]" %>
      <% elsif question.qtype == "multiple_choice" %>
        <%= radio_button_tag "answers[#{question.id}]", "Yes" %>
        <%= label_tag :yes_label, "Yes" %>
        <%= radio_button_tag "answers[#{question.id}]", "No" %>
        <%= label_tag :no_label, "No" %>
      <% end %>
    </div>
  </div>
</div>
